.btn-color-A{
    background-color: rgb(54, 54, 51) !important;
}
.btn-color-B{
    background-color: #2193f6 !important;
}
.footer{
    background-color: rgb(54, 54, 51) !important;
}
.prefix{
    color: #2193f6;
}
